<h1>Cadastrar novo modelo de produto</h1>

<%= form_with(model: @product_model) do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :weight, 'Peso' %>
    <%= f.number_field :weight %>
  </div>
  <div>
    <%= f.label :height, 'Altura' %>
    <%= f.number_field :height %>
  </div>
  <div>
    <%= f.label :depth, 'Profundidade' %>
    <%= f.number_field :depth %>
  </div>
  <div>
    <%= f.label :width, 'Largura' %>
    <%= f.number_field :width %>
  </div>
  <div>
    <%= f.label :sku, 'SKU' %>
    <%= f.text_field :sku %>
  </div>

  <div>
    <%= f.label :supplier_id, 'Fornecedor' %>
    <%= f.collection_select :supplier_id, @suppliers, :id, :brand_name %>
  </div>

    <%= f.submit 'Enviar' %>
<%end%>