<section id="warehouses">
<div>
  <%= link_to('Cadastrar Galpão', new_warehouse_path) %>
</div>
<% @warehouses.each do |w| %>
<div>
    <h3> <%= link_to(w.name, warehouse_path(w.id)) %> </h3>
    <dl>
      <dt>Código:</dt>
        <dd><%= w.code %> </dd>
      <dt>Cidade:</dt>
        <dd><%= w.city %></dd>
      <dt>Área:</dt>
        <dd><%= w.area %> m2</dd>
    </dl>
</div>
<% end %>

<% if @warehouses.empty? %>
  <p>Não existem galpões cadastrados</p>
<%end%>
</section>