<h1>Galpão <%= @warehouse.code %></h1>
<h2><%= @warehouse.description %></h2>
<div>
  <strong>nome: <%=@warehouse.name %> </strong>
  <strong>Código: <%=@warehouse.code %> </strong>
  <strong>Cidade: <%=@warehouse.city %> </strong>
  <strong>Area: <%=@warehouse.area %> m2 </strong>
  <strong>Endereço: <%=@warehouse.address %> , cep: <%= @warehouse.cep %></strong>
</div>

<%= link_to('Editar', edit_warehouse_path(@warehouse.id))%>
<%= button_to('Remover', warehouse_path(@warehouse.id), method: :delete)%>


<div>
<%= link_to('voltar', root_path)%>
</div>